USE [master]
GO
/****** Object:  Database [ToplulukYonetimDB]    Script Date: 15.01.2026 18:22:53 ******/
CREATE DATABASE [ToplulukYonetimDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ToplulukYonetimDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ToplulukYonetimDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ToplulukYonetimDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ToplulukYonetimDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ToplulukYonetimDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ToplulukYonetimDB]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CezaHesapla]    Script Date: 15.01.2026 18:22:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_CezaHesapla](@AlisTarihi DATETIME, @TeslimTarihi DATETIME)
RETURNS DECIMAL(18,2)
AS
BEGIN
    DECLARE @GunFarki INT;
    DECLARE @Ceza DECIMAL(18,2);

    -- Gün farkını hesapla
    SET @GunFarki = DATEDIFF(DAY, @AlisTarihi, @TeslimTarihi);

    -- Eğer 7 günü geçtiyse gün başına 5 TL hesapla, geçmediyse 0
    IF @GunFarki > 7
        SET @Ceza = (@GunFarki - 7) * 5;
    ELSE
        SET @Ceza = 0;

    RETURN @Ceza;
END;
GO
/****** Object:  Table [dbo].[Kategoriler]    Script Date: 15.01.2026 18:22:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategoriler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAdi] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OduncIslemleri]    Script Date: 15.01.2026 18:22:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OduncIslemleri](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UyeId] [int] NULL,
	[OyunId] [int] NULL,
	[AlisTarihi] [datetime] NULL,
	[TeslimTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OyunArsiv]    Script Date: 15.01.2026 18:22:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OyunArsiv](
	[ArsivId] [int] IDENTITY(1,1) NOT NULL,
	[EskiOyunId] [int] NULL,
	[OyunAdi] [nvarchar](150) NULL,
	[SilinmeTarihi] [datetime] NULL,
	[Aciklama] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ArsivId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OyunDurumlari]    Script Date: 15.01.2026 18:22:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OyunDurumlari](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DurumAdi] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Oyunlar]    Script Date: 15.01.2026 18:22:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oyunlar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OyunAdi] [nvarchar](150) NOT NULL,
	[KategoriId] [int] NULL,
	[YayinciId] [int] NULL,
	[DurumId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roller]    Script Date: 15.01.2026 18:22:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roller](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RolAdi] [nvarchar](50) NOT NULL,
	[YetkiSeviyesi] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Uyeler]    Script Date: 15.01.2026 18:22:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uyeler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AdSoyad] [nvarchar](100) NOT NULL,
	[OgrenciNo] [nvarchar](20) NULL,
	[Telefon] [nvarchar](15) NULL,
	[UyeTipId] [int] NULL,
	[KayitTarihi] [datetime] NULL,
	[AktifMi] [bit] NULL,
	[Aidat] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UyeTipleri]    Script Date: 15.01.2026 18:22:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UyeTipleri](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TipAdi] [nvarchar](50) NOT NULL,
	[AidatTutari] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yayincilar]    Script Date: 15.01.2026 18:22:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yayincilar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[YayinciAdi] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YonetimKurulu]    Script Date: 15.01.2026 18:22:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YonetimKurulu](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UyeId] [int] NULL,
	[RolId] [int] NULL,
	[Donem] [nvarchar](20) NULL,
	[BaslangicTarihi] [date] NULL,
	[BitisTarihi] [date] NULL,
	[AktifGorevdeMi] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Kategoriler] ON 

INSERT [dbo].[Kategoriler] ([Id], [KategoriAdi]) VALUES (1, N'Strateji')
INSERT [dbo].[Kategoriler] ([Id], [KategoriAdi]) VALUES (2, N'İş Birliği')
INSERT [dbo].[Kategoriler] ([Id], [KategoriAdi]) VALUES (3, N'Kart Oyunu')
SET IDENTITY_INSERT [dbo].[Kategoriler] OFF
GO
SET IDENTITY_INSERT [dbo].[OduncIslemleri] ON 

INSERT [dbo].[OduncIslemleri] ([Id], [UyeId], [OyunId], [AlisTarihi], [TeslimTarihi]) VALUES (1, 1, 5, CAST(N'2025-11-02T00:00:00.000' AS DateTime), CAST(N'2025-11-05T00:00:00.000' AS DateTime))
INSERT [dbo].[OduncIslemleri] ([Id], [UyeId], [OyunId], [AlisTarihi], [TeslimTarihi]) VALUES (2, 2, 10, CAST(N'2025-12-01T00:00:00.000' AS DateTime), CAST(N'2025-12-08T00:00:00.000' AS DateTime))
INSERT [dbo].[OduncIslemleri] ([Id], [UyeId], [OyunId], [AlisTarihi], [TeslimTarihi]) VALUES (3, 5, 3, CAST(N'2025-12-05T00:00:00.000' AS DateTime), CAST(N'2025-12-12T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[OduncIslemleri] OFF
GO
SET IDENTITY_INSERT [dbo].[OyunArsiv] ON 

INSERT [dbo].[OyunArsiv] ([ArsivId], [EskiOyunId], [OyunAdi], [SilinmeTarihi], [Aciklama]) VALUES (1, 37, N'olmayan oyun', CAST(N'2025-12-19T11:07:40.050' AS DateTime), N'Envanterden Çıkarıldı')
INSERT [dbo].[OyunArsiv] ([ArsivId], [EskiOyunId], [OyunAdi], [SilinmeTarihi], [Aciklama]) VALUES (2, 38, N'1234', CAST(N'2025-12-22T18:15:00.357' AS DateTime), N'Envanterden Çıkarıldı')
INSERT [dbo].[OyunArsiv] ([ArsivId], [EskiOyunId], [OyunAdi], [SilinmeTarihi], [Aciklama]) VALUES (3, 39, N'Smash Up', CAST(N'2026-01-08T07:48:54.860' AS DateTime), N'Envanterden Çıkarıldı')
SET IDENTITY_INSERT [dbo].[OyunArsiv] OFF
GO
SET IDENTITY_INSERT [dbo].[OyunDurumlari] ON 

INSERT [dbo].[OyunDurumlari] ([Id], [DurumAdi]) VALUES (1, N'Rafta')
INSERT [dbo].[OyunDurumlari] ([Id], [DurumAdi]) VALUES (2, N'Ödünçte')
INSERT [dbo].[OyunDurumlari] ([Id], [DurumAdi]) VALUES (3, N'Kayıp')
SET IDENTITY_INSERT [dbo].[OyunDurumlari] OFF
GO
SET IDENTITY_INSERT [dbo].[Oyunlar] ON 

INSERT [dbo].[Oyunlar] ([Id], [OyunAdi], [KategoriId], [YayinciId], [DurumId]) VALUES (1, N'Catan', 1, 1, 1)
INSERT [dbo].[Oyunlar] ([Id], [OyunAdi], [KategoriId], [YayinciId], [DurumId]) VALUES (2, N'Tabu', 5, 2, 1)
INSERT [dbo].[Oyunlar] ([Id], [OyunAdi], [KategoriId], [YayinciId], [DurumId]) VALUES (3, N'Carcassone', 1, 3, 1)
SET IDENTITY_INSERT [dbo].[Oyunlar] OFF
GO
SET IDENTITY_INSERT [dbo].[Roller] ON 

INSERT [dbo].[Roller] ([Id], [RolAdi], [YetkiSeviyesi]) VALUES (1, N'Yönetim Kurulu Başkanı', 5)
INSERT [dbo].[Roller] ([Id], [RolAdi], [YetkiSeviyesi]) VALUES (2, N'Başkan Yardımcısı', 4)
INSERT [dbo].[Roller] ([Id], [RolAdi], [YetkiSeviyesi]) VALUES (3, N'Sponsorluk', 4)
SET IDENTITY_INSERT [dbo].[Roller] OFF
GO
SET IDENTITY_INSERT [dbo].[Uyeler] ON 

INSERT [dbo].[Uyeler] ([Id], [AdSoyad], [OgrenciNo], [Telefon], [UyeTipId], [KayitTarihi], [AktifMi], [Aidat]) VALUES (1, N'Onat YILDIZ', N'1122', N'1548', 1, CAST(N'2025-12-19T09:51:59.793' AS DateTime), 1, CAST(50.00 AS Decimal(18, 2)))
INSERT [dbo].[Uyeler] ([Id], [AdSoyad], [OgrenciNo], [Telefon], [UyeTipId], [KayitTarihi], [AktifMi], [Aidat]) VALUES (2, N'Neva Bülbül', N'44555', N'6889', 1, CAST(N'2025-12-19T09:51:59.793' AS DateTime), 0, CAST(50.00 AS Decimal(18, 2)))
INSERT [dbo].[Uyeler] ([Id], [AdSoyad], [OgrenciNo], [Telefon], [UyeTipId], [KayitTarihi], [AktifMi], [Aidat]) VALUES (3, N'Emirhan Çoruh', N'465456', N'4894', 2, CAST(N'2025-12-19T09:51:59.793' AS DateTime), 1, CAST(100.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Uyeler] OFF
GO
SET IDENTITY_INSERT [dbo].[UyeTipleri] ON 

INSERT [dbo].[UyeTipleri] ([Id], [TipAdi], [AidatTutari]) VALUES (1, N'Yönetim Kurulu ', CAST(50.00 AS Decimal(10, 2)))
INSERT [dbo].[UyeTipleri] ([Id], [TipAdi], [AidatTutari]) VALUES (2, N'Genel üye ', CAST(200.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[UyeTipleri] OFF
GO
SET IDENTITY_INSERT [dbo].[Yayincilar] ON 

INSERT [dbo].[Yayincilar] ([Id], [YayinciAdi]) VALUES (1, N'Pegasus')
INSERT [dbo].[Yayincilar] ([Id], [YayinciAdi]) VALUES (2, N'Hasbro')
INSERT [dbo].[Yayincilar] ([Id], [YayinciAdi]) VALUES (3, N'Neotroy')
SET IDENTITY_INSERT [dbo].[Yayincilar] OFF
GO
SET IDENTITY_INSERT [dbo].[YonetimKurulu] ON 

INSERT [dbo].[YonetimKurulu] ([Id], [UyeId], [RolId], [Donem], [BaslangicTarihi], [BitisTarihi], [AktifGorevdeMi]) VALUES (1, 1, 1, N'2025-2026', CAST(N'2025-01-01' AS Date), NULL, 1)
INSERT [dbo].[YonetimKurulu] ([Id], [UyeId], [RolId], [Donem], [BaslangicTarihi], [BitisTarihi], [AktifGorevdeMi]) VALUES (2, 2, 3, N'2025-2026', CAST(N'2025-01-01' AS Date), NULL, 1)
INSERT [dbo].[YonetimKurulu] ([Id], [UyeId], [RolId], [Donem], [BaslangicTarihi], [BitisTarihi], [AktifGorevdeMi]) VALUES (3, 4, 4, N'2025-2026', CAST(N'2025-01-01' AS Date), NULL, 1)
SET IDENTITY_INSERT [dbo].[YonetimKurulu] OFF
GO
ALTER TABLE [dbo].[OduncIslemleri] ADD  DEFAULT (getdate()) FOR [AlisTarihi]
GO
ALTER TABLE [dbo].[Roller] ADD  DEFAULT ((1)) FOR [YetkiSeviyesi]
GO
ALTER TABLE [dbo].[Uyeler] ADD  DEFAULT (getdate()) FOR [KayitTarihi]
GO
ALTER TABLE [dbo].[Uyeler] ADD  DEFAULT ((1)) FOR [AktifMi]
GO
ALTER TABLE [dbo].[UyeTipleri] ADD  DEFAULT ((0)) FOR [AidatTutari]
GO
ALTER TABLE [dbo].[YonetimKurulu] ADD  DEFAULT (getdate()) FOR [BaslangicTarihi]
GO
ALTER TABLE [dbo].[YonetimKurulu] ADD  DEFAULT ((1)) FOR [AktifGorevdeMi]
GO
ALTER TABLE [dbo].[OduncIslemleri]  WITH CHECK ADD FOREIGN KEY([OyunId])
REFERENCES [dbo].[Oyunlar] ([Id])
GO
ALTER TABLE [dbo].[OduncIslemleri]  WITH CHECK ADD FOREIGN KEY([UyeId])
REFERENCES [dbo].[Uyeler] ([Id])
GO
ALTER TABLE [dbo].[Oyunlar]  WITH CHECK ADD FOREIGN KEY([DurumId])
REFERENCES [dbo].[OyunDurumlari] ([Id])
GO
ALTER TABLE [dbo].[Oyunlar]  WITH CHECK ADD FOREIGN KEY([KategoriId])
REFERENCES [dbo].[Kategoriler] ([Id])
GO
ALTER TABLE [dbo].[Oyunlar]  WITH CHECK ADD FOREIGN KEY([YayinciId])
REFERENCES [dbo].[Yayincilar] ([Id])
GO
ALTER TABLE [dbo].[Uyeler]  WITH CHECK ADD FOREIGN KEY([UyeTipId])
REFERENCES [dbo].[UyeTipleri] ([Id])
GO
ALTER TABLE [dbo].[YonetimKurulu]  WITH CHECK ADD FOREIGN KEY([RolId])
REFERENCES [dbo].[Roller] ([Id])
GO
ALTER TABLE [dbo].[YonetimKurulu]  WITH CHECK ADD FOREIGN KEY([UyeId])
REFERENCES [dbo].[Uyeler] ([Id])
GO
USE [master]
GO
